$text-color: lighten(#000,45%);
$largura: 17%;
$font-size: 13px;

:host {
   @media only screen and (min-width: 1200px){
    width: $largura !important;
  }
  @media only screen and (min-width: 993px){
    transition: all 300ms linear;
    padding: 0!important;
    padding-right: 0.75rem !important;
  }
  i.material-icons  {
    line-height: 3rem;
    margin: 0 10px 0 0;
    width: auto;
    float: left;
    font-size: 19px;
  }
  li.active{
    background-color: transparent;
  }
}
.main{
  box-shadow: 2px -7px 5px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1200px){
    width: calc( #{$largura} - 0.75rem ) !important;
  }
  @media only screen and (min-width: 992px){
    width: calc(25% - 0.75rem);
    height: calc(100% - 60px);
    overflow-y: scroll;
    background-color: white;
    position: fixed;
  }
}
.collection {
  border: none;
  overflow: visible;
}
.collapsible{
  margin: 0;
  border: none;
  box-shadow: none;
  &-header.active,
  li.active > &-body{
    background-color: #eee;
    color: $text-color !important;
  }
  &-header:hover{
    background-color: #ddd;
  }
  &-body {
    padding: 0;
    width: 100%;
    background-color: transparent;
    & > .collection-item{
      padding-left: 55px;
      background-color: transparent;
    }
  }
}
a.collection-item{
  font-size: $font-size;
  font-weight: 500;
  line-height: 3rem;
  border-bottom: none;
  color: $text-color;
  padding: 0px;
  padding-left: 20px;
  height: 3rem;
  .right{
    margin-right: 10px;
  }
}
.profile {
  padding: 25px 24px;
  background: url('/assets/img/profile_bg.png');
  background-size: cover;
  &-image img {
    width: 50px;
    height: 50px;
  }
  &-info {
    margin-top: 5px;
    a.collapsible-header{
      min-height: 100%;
      line-height: 1.5;
      color: $text-color;
      cursor: pointer;
      padding: 0;
      background-color: transparent;
      border: none;
    }
    p {
      color: #000;
      font-size: 14px;
      margin: 0;
      font-weight: 700;
    }
    span {
      color: #555;
      font-size: $font-size
    }
    i.right{
      margin-right: -1rem;
      margin-top: -1.2rem;
      line-height: 1;
      height: 19px;
    }
    li.active > .collapsible-body{
      background-color: transparent;
      margin-top: 10px;
      .collection-item{
        padding-left: 5px;
        &:hover{
          background-color: hsl(0, 0%, 95%);
        }
      }
    }
  }
}

.footer {
  margin-top: auto;
  border-top: 1px solid #e0e0e0;
  color: #212121;
  height: 96px;
  padding: 24px;
  width: 100%;
  font-size: $font-size;
  line-height: 24px;
  p{
    margin: 0;
  }
  a{
    display: inline;
    padding:0;
    margin: 0;
    font-size: inherit;
  }
}
