<div class="container">
  <div class="row">
  <div class="col s12 m8 offset-m2">
  <div class="card">
  <div class="card-content">
    <h2 class="card-title center-align">Login</h2>
    <form materialize novalidate [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" >
        <div class="input-field col s12">
          <i class="material-icons prefix">account_box</i>
          <input type="email" name="email" class="validate" [formControl]="loginForm.controls['email']">
          <label for="icon_prefix">Email</label>
          <p class="erro" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">Email requerido.</p>
          <p class="erro" *ngIf="loginForm.controls.email.errors?.email">Email errado.</p>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input type="password" name="senha" class="validate" [formControl]="loginForm.controls['senha']">
          <label for="icon_prefix">Senha</label>
          <p class="erro" *ngIf="loginForm.controls['senha'].hasError('required') && loginForm.controls['senha'].touched">Senha requerida.</p>
        </div>

        <div class="row">
          <button type="submit" class="waves-effect waves-light btn col s6 offset-s3">
            Entrar <i class="material-icons right">send</i>
          </button>
        </div>
        <p class="erro center-align" *ngIf="erro || loginForm.invalid">{{erro}}</p>
    </form>
  </div>
  </div>
  </div>
  </div>
</div>
