<div class="container">
  <div class="row main">
    <div class="col s12 l6 primeiro">
      <div class="imagem">
      </div>
    </div>
  <div class="col s12 l6">
  <div class="card">
  <div class="card-content">
    <h2 class="card-title center-align">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" >
      <mz-input-container class="col s12">
        <i mz-icon mz-input-prefix
          [icon]="'account_box'">
        </i>
        <input mz-input
          [label]="'Email'"
          [validate]="true"
          [dataError]="textError('email')"
          [dataSuccess]="'Email valido'"
          [ngClass]="hasError('email')"
          formControlName="email"
          id="email-input"
          name="email"
          type="email" >
      </mz-input-container>
      <mz-input-container class="col s12">
        <i mz-icon mz-input-prefix
          [icon]="'lock'">
        </i>
        <input mz-input
          [label]="'Senha'"
          [validate]="true"
          [dataError]="textError('senha')"
          [dataSuccess]="'Senha ok'"
          [ngClass]="hasError('senha')"
          formControlName="senha"
          id="senha-input"
          name="senha"
          type="password" >
      </mz-input-container>
      <div class="row">
        <button type="submit" mz-button class="col s6 offset-s3">
          Entrar <i mz-icon [align]="'right'" [icon]="'send'"></i>
        </button>
      </div>
      <p class="red-text center-align" *ngIf="erro">{{erro}}</p>
    </form>
  </div>
  </div>
  </div>
  </div>
</div>
