.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  md-card{
    background-color: #FFF;
    margin-top: 2em;
    width: 500px;
    .erro{
      text-align: center;
      padding: 5px;
      color: red;
    }
  }
  md-card-title{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
  }
  md-card-content{
    display: flex;
    font-size: 1.3em;
    i{
      margin-top: 15px;
    }
    md-input-container{
      margin-left: 15px;
      flex: 1;
    }
  }
  md-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
      width: 200px;
      height: 2em;
      margin-bottom: 15px;
      background-color: rgb(102, 153, 204);
      color: #fff;
      font-size: 1.3em;
    }
  }
}
