$altura: calc(100vh - 150px);

button.btn{
  margin-top: 2rem;
}

.main{
  display: flex;
  flex-direction: row;
  height: $altura;
  @media only screen and (max-width: 600px){
    flex-direction: column;
  }
  justify-content: center;
  align-items: center;
  align-content:flex-start;
  .primeiro{
    align-self:stretch;
    height: $altura;
  }
}
.imagem{
  background-image: url('https://angular.io/resources/images/logos/angular2/angular.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
