<div class="row">
  <div class="tools" *ngIf="options.search">
    <button mz-button (click)="reset()">
      <i mz-icon icon="refresh"></i>
    </button>
    <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
      <mz-input-container class="col l4 s12">
        <input mz-input
          label="Pesquisar"
          id="pesquisar"
          name="pesquisar"
          formControlName="pesquisar"
          type="text">
      </mz-input-container>
      <mz-select-container class="col l4 s12">
        <select mz-select
          label="Pelo"
          name="tipo"
          formControlName="tipo"
          [(ngModel)]="selectValue"
          id="options-select" >
          <option *ngFor="let option of label" [value]="option.value" [selected]="option.value == selectValue">{{option.name}}</option>
        </select>
      </mz-select-container>
      <button type="submit" mz-button class="col l3 s12">Pesquisar
        <i mz-icon icon="search" align="right"></i>
      </button>
    </form>
    <mz-input-container class="col l2 s12">
      <input mz-input
        [(ngModel)]="pageSize"
        label="Por pagina"
        name="pageSize"
        id="pageSize"
        type="number">
    </mz-input-container>
    <button mz-button (click)="setPage(1)">
      <i mz-icon icon="send"></i>
    </button>
  </div>
</div>
<div class="row">
  <table class="bordered">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let l of label" class="{{l?.class}}" (click)="filtro(l.value)" >{{l.name}}
          <i *ngIf="filtroIcon && filtroTipo == l.value" mz-icon [icon]="filtroIcon"></i>
        </th>
        <th *ngFor="let a of options.actions" class="center">{{a.name}}</th>
        <th *ngIf="options.eventoDetalhe" class="center" (click)="filtro('presenca')" >Presença</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="rowClick($event, trr)" *ngFor="let item of pagedItems, index as i" #trr>
        <td class="mini-row">
          <mz-checkbox-container>
            <input mz-checkbox
              [label]="i+1+pager.startIndex"
              id="'c'+i+1"
              type="checkbox">
          </mz-checkbox-container>
        </td>
        <td *ngFor="let l of label" class="{{l?.class}}">{{item[l.value]}}</td>
        <td *ngFor="let a of options.actions" class="center mini-row">
          <a mz-button flat="true" *ngIf="isObject(a.routerLink)" routerLink="{{item[a.routerLink['key']]+a.routerLink['path']}}" [class]="a.class"><i mz-icon [icon]="a.icon"></i></a>
          <a mz-button flat="true" *ngIf="a.routerLink && !isObject(a.routerLink)" routerLink="{{item[a.routerLink]}}" [class]="a.class"><i mz-icon [icon]="a.icon"></i></a>
          <a mz-button flat="true" *ngIf="a.link" [href]="a.link" [class]="a.class" target="_blank"><i mz-icon [icon]="a.icon"></i></a>
        </td>
        <td *ngIf="options.eventoDetalhe" class="center presenca" [ngClass]="{active:item.presenca == 1}">
          {{ presenca(item.presenca) }}
        </td>
      </tr>
    </tbody>
  </table>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)"><i mz-icon icon="first_page"></i></a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)"><i mz-icon icon="chevron_left"></i></a>
    </li>
    <li class="waves-effect" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)"><i mz-icon icon="chevron_right"></i></a>
    </li>
    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)"><i mz-icon icon="last_page"></i></a>
    </li>
  </ul>
</div>
<div *ngIf="errorMessage" class="not-found">
  {{errorMessage}}
</div>
