<mz-navbar class="navbar-fixed" navbarClass="margem">
  <a [id]="'btn-sidenav-demo'" class="left hide-on-large-only"><i class="material-icons right">menu</i></a>
  <a href="#" class="brand-logo">Systema</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="dashboard">Perfil</a></mz-navbar-item>
    <mz-navbar-item><a (click)="sair($event)">Sair <i mz-icon [align]="'right'" [icon]="'exit_to_app'"></i></a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
