<div class="main">

  <app-nav-bar></app-nav-bar>

  <div class="row">
    <app-side-nav class="col m3 hide-on-med-and-down"></app-side-nav>

    <div class="col m9">
      <h1>{{title}}</h1>
      <h2>Bem vindo: {{user.nome}}</h2>

      <div class="input-field col s12">
        <input type="text" class="validate" [(ngModel)]="user.nome">
        <label>Digite seu nome</label>
      </div>

      <p>Email: {{user.email}}</p>

      <div class="card" *ngFor="let evento of lista">
        <div class="card-content">
          <p><strong>Titulo:</strong> {{evento.titulo}}</p>
          <p><strong>Palestrante:</strong> {{evento.palestrante}}</p>
          <p><strong>Descrição:</strong> {{evento.descricao}}</p>
        </div>
      </div>

      <div *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>

  </div>
</div>
