.charts{
  display:flex;
  align-items:flex-start;
  align-content:flex-start;
  flex-direction: row;
  @media only screen and (max-width: 993px){
    flex-direction: column;
  }
  .col{
    align-self:stretch;
  }
}

.row{
  margin-bottom: 0;
}

.card{
  height: calc(100% - 1.5rem);
  display: flex;
  #{"/deep/"}.material-icons{
    color: #fff;
    font-size: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-content{
    height: 100%;
    flex: 1;
    h3{
      margin-bottom: 0;
    }
  }
  &-title{
    font-size: 17px;
  }
}
