:host{
  .charts{
    display:flex;
    align-items:flex-start;
    align-content:flex-start;
    flex-direction: row;
    @media only screen and (max-width: 993px){
      flex-direction: column;
    }
    .col{
      align-self:stretch;
    }
    .card{
      height: calc(100% - 1.5rem);
      &-content{
        height: 100%;
      }
    }
  }
}
