<h3>{{title}}</h3>
<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-content center-align">
        <h1>{{totais}}</h1>
        <span class="card-title">Total de Inscritos</span>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <chart [type]="charPie.type" [data]="charPie.data" [options]="charPie.options"></chart>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <!-- <chart [type]="charPie.type" [data]="charPie.data" [options]="charPie.options"></chart> -->
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <table class="striped">
      <thead>
        <tr>
          <th data-field="id">Titulo</th>
          <th data-field="name">Palestrante</th>
          <th data-field="price">Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of lista">
          <td>{{evento.titulo}}</td>
          <td>{{evento.palestrante}}</td>
          <td>{{evento.descricao}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="errorMessage">
  {{errorMessage}}
</div>
