table{
  line-height: 0;
  thead{
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }
  tr.active{
    background-color: #e0e0e0;
  }
}
.row-id{
  width: 50px;
  label{
    padding-left: 25px;
  }
}
td {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 5px;
  cursor: default;
  /deep/ .btn-flat{
    padding: 0 10px;
  }
  /deep/ .blue {
    background-color: transparent !important;
    color: #2196F3 !important;
  }
  /deep/ .orange {
    background-color: transparent !important;
    color: #ff9800 !important;
  }
  /deep/ .green {
    background-color: transparent !important;
    color: #4CAF50 !important;
  }
  /deep/ .red {
    background-color: transparent !important;
    color: #F44336 !important;
  }
  &.presenca{
    border-radius: 25px;
    background-color: #F44336;
    color: #fff;
    &.active{
      background-color: #4CAF50;
    }
  }

}
.pagination{
  display: flex;
  justify-content: space-between;
}
.tools, form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.not-found{
  padding: 10px;
  font-size: 18px;
}
:host {

}
